# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Varios


*a.out
*.x
*~
*#
*.txt
*#*
*.pdf
*.Rhistory
*.dat
*.sh~
*.gif
*.sh
Makefile*
*.gp
*.log
